In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("../data/checking-logs.sqlite.sqlite")

OperationalError: unable to open database file

In [3]:
df = pd.read_sql_query("SELECT timestamp as datetime FROM checker where uid like 'user%'", con, parse_dates=["datetime"])

NameError: name 'con' is not defined

In [15]:
df["time"] = df["datetime"].dt.hour

interval = pd.IntervalIndex.from_tuples([(0, 4), (4, 10), (10, 17), 
                              (17, 24)], closed="left")

lab = ["night", "morning", "afternoon", "evening"]

daytime = pd.cut(df["time"], bins = interval)

int_to_daytime = dict(zip(interval, lab))

daytime = daytime.apply(lambda x: int_to_daytime[x])
df["daytime"] = daytime
# df.set_index(["user"], drop=True, inplace=True)
# df.drop(["time"], axis=1, inplace=True)

In [16]:
df

                       datetime  daytime
0    2020-04-17 05:19:02.744528  morning
1    2020-04-17 05:22:35.249331  morning
2    2020-04-17 05:22:45.549397  morning
3    2020-04-17 05:34:14.691200  morning
4    2020-04-17 05:34:24.422370  morning
...                         ...      ...
3202 2020-05-21 20:19:06.872761  evening
3203 2020-05-21 20:22:41.785725  evening
3204 2020-05-21 20:22:41.877806  evening
3205 2020-05-21 20:37:00.129678  evening
3206 2020-05-21 20:37:00.290491  evening

[3207 rows x 2 columns]

In [20]:
df["weekday"] = df["datetime"].dt.weekday

In [22]:
df_workingday = df[df["weekday"] < 5]

In [23]:
df_weekend = df[df["weekday"] >= 5]

In [24]:
df_weekend.

                       datetime    daytime  weekday
23   2020-04-18 07:56:45.408648    morning        5
24   2020-04-18 13:36:53.971502  afternoon        5
25   2020-04-18 13:42:35.482008  afternoon        5
26   2020-04-18 13:51:22.291271  afternoon        5
27   2020-04-18 13:53:17.230725  afternoon        5
...                         ...        ...      ...
3088 2020-05-17 22:23:05.744415    evening        6
3089 2020-05-17 22:23:11.078664    evening        6
3090 2020-05-17 22:23:11.220412    evening        6
3091 2020-05-17 22:25:15.051189    evening        6
3092 2020-05-17 22:25:15.204164    evening        6

[1170 rows x 3 columns]