In [1]:
import pandas as pd
import sqlite3
import matplotlib

In [8]:
con = sqlite3.connect("../data/checking-logs.sqlite.sqlite")

In [9]:
df_pageviews = pd.read_sql_query("SELECT datetime FROM pageviews where uid like 'user%'", con, parse_dates=["datetime"])
df_commits = pd.read_sql_query("SELECT timestamp as datetime FROM checker where uid like 'user%'", con, parse_dates=["datetime"])

In [10]:
df.groupby(df["datetime"].dt.date).count().plot(figsize = (15, 8), fontsize = 10, title = "Views per day", rot = 90)

SyntaxError: invalid syntax (682712032.py, line 1)

In [5]:
con.close()

In [6]:
df.groupby(df["datetime"].dt.date).count()

            datetime
datetime
2020-04-17         1
2020-04-18        23
2020-04-19        15
2020-04-21         3
2020-04-22         1
2020-04-23         5
2020-04-25         1
2020-04-26         8
2020-04-28         2
2020-04-29         4
2020-04-30         9
2020-05-01         3
2020-05-02         6
2020-05-03        19
2020-05-04         1
2020-05-05         1
2020-05-06         3
2020-05-07         2
2020-05-08        48
2020-05-09        19
2020-05-10       110
2020-05-11       200
2020-05-12        85
2020-05-13       102
2020-05-14       187
2020-05-15        29
2020-05-16         4
2020-05-17         9
2020-05-18        51
2020-05-19        11
2020-05-20        12
2020-05-21        11
2020-05-22         2