In [1]:
import pandas as pd
import sqlite3
import matplotlib

In [2]:
con = sqlite3.connect("../data/checking-logs.sqlite.sqlite")

In [4]:
# df = pd.read_sql_query("SELECT datetime FROM pageviews where uid like 'user%'", con, parse_dates=["datetime"])
df = pd.read_sql_query("SELECT * FROM pageviews where uid like 'user%'", con, parse_dates=["datetime"])
df

     index      uid                   datetime
0       12  user_30 2020-04-17 22:46:26.785035
1       14  user_14 2020-04-18 10:53:52.623447
2       15  user_17 2020-04-18 10:56:55.833899
3       16  user_14 2020-04-18 10:57:37.331258
4       18  user_17 2020-04-18 12:05:48.200144
..     ...      ...                        ...
982   1073  user_28 2020-05-21 18:45:20.441142
983   1074  user_19 2020-05-21 23:03:06.457819
984   1075  user_25 2020-05-21 23:23:49.995349
985   1078   user_5 2020-05-22 11:30:18.368990
986   1079  user_17 2020-05-22 18:22:22.847815

[987 rows x 3 columns]